{% extends "main.html" %}
{% load static %}

{% block title %}Profile - {{ profile.user.username }}{% endblock %}

{% block content %}

  <div class="container p-4">
    <div class="profile">
      <div class="info">
        <div class="profile-img text-center">
          {% if profile.image.url is not none %}
            <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile image">
          {% else %}
            <img src="https://place-hold.it/180x100/" alt="Image not found">
          {% endif %}
        </div>
        <h1>{{ profile.user.username }}</h1>
        <p><strong>Added: </strong>{{ profile.user.date_joined|date:'d M Y' }}</p>
        <p><strong>Date of Birth: </strong>{{ profile.dob }}</p>
        <p><strong>Recipes: </strong>{{ profile.user.creator.count }}</p>
        {% if profile.bio is not none %}
          {{ profile.bio|safe }}
        {% endif %}

        {% if request.user == profile.user %}
        <div>  
            <a href="{% url 'edit_profile' request.user.id %}" class="btn btn-primary w-25 mb-4">Edit</a>
        </div>
        <div>
          <a href="{% url 'day_plan' %}" class="btn btn-primary w-25 mb-4">Meals</a>
        </div>
          {% endif %}
        </div>
      <div class="profile-recipes">
        <h2 class="text-center pb-4">Latest Recipes</h2>
        {% for recipe in profile.user.creator.all %}
          <a href="{% url 'detail' recipe.id %}">
            <h3>{{ recipe.title }}</h3>
          </a>
          {{ recipe.posted_date }}
          <hr>
        {% endfor %}
      </div>
    </div>

   
{% endblock %}

